/* You can add global styles to this file, and also import other style files */
$font-stack:  "Arial", "Myriad Pro", sans-serif;
$font-size: 0.875rem;

body {
    margin: 0px;
    font: $font-size $font-stack;
}